{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/inscription.css') }}" />
{% endblock %}

{% block body %}
    
<div class="body-wrapperRegister">
    <img src="{{ asset('Images/LogoScrolly.svg')}}" alt="Logo" class="logoScrollyRegister" />
    <div class="box-wrapperRegister">
        <img src="{{ asset('Images/TypoScrolly.svg')}}" alt="Logo" class="typoScrollyRegister" />

        {{ form_errors(registrationForm) }}
    
        {{ form_start(registrationForm) }}
        <div class="labelWrapperRegister">
            <div class="formInput">
                <label>Pseudo</label>
                {{ form_row(registrationForm.pseudo, {
                    label: ' '
                }) }}
            </div>
            <div class="formInput">
                <label>Email</label>
                {{ form_row(registrationForm.email, {
                    label: ' '
                }) }}
            </div>
        
            <div class="formInput">
                <label>Mot de passe</label>
                    {{ form_row(registrationForm.plainPassword, {
                        label: ' '
                    }) }}
            </div>
            <div class="formCheck">
                
                {{ form_row(registrationForm.agreeTerms, {
                    label: ' '
                }) }}
                
                <label class="labelCheck">Accepter les conditions</label>
            </div>
        </div>
        <button type="submit" class="btnInscriptionRegister" >S'inscrire</button>
        
        {{ form_end(registrationForm) }}
    
        <button class="logoutBtnRegister">
        <a href="{{ path('app_home') }}">Logout</a>
        </button>
    </div>
</div>
{% endblock %}
