{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/ajout.css') }}" />
{% endblock %}
{% block body %}

    <div class="body-wrapperAdd">
*            
        <div class="HeaderPost">
        <img src="{{ asset('Images/LogoSScrolly.svg') }}" alt="SLogo" class="Slogo" width="200px"/>
        <div class="NotifAndMessage">
            <img src="{{ asset('Images/SearchLogo.svg') }}" alt="SearchLogo" class="SearchLogo" width="200px"/>
            <img src="{{ asset('Images/BellFillLogo.svg') }}" alt="BellFill" class="BellFillLogo" width="200px"/>
        </div>
        </div>


        {{ form_start(form) }}
        <div class="formWrapperAdd">
            <div class="inputWrapperAdd">
                <label class="inputImage">Insérer une image</label>
                {{ form_row(form.image, {
                    label: ' '
                }) }}
            </div>
            <div class="inputWrapperAdd">
                <label>Titre</label>
                {{ form_row(form.title, {
                    label: " "
                }) }}
            </div>
            <div class="inputWrapperAdd">
                <label>Description</label>
                {{ form_row(form.description, {
                    label: " "
                }) }}
            </div>

            <button class="btnUpload">Upload</button>
        </div>
        {{ form_end(form) }}
    </div>

    <div class="FooterPost" >
        <img src="{{ asset('Images/HouseDoorFill.svg') }}" alt="HouseDoor" class="HouseDoorLogo" width="200px"/>
        <img src="{{ asset('Images/IconUser.svg') }}" alt="IconUser" class="IconUserLogo" width="200px"/>
        <a href="{{ path('app_add') }}"><img src="{{ asset('Images/AddButton.svg') }}" alt="AddButtonLogo" class="AddButtonLogo" width="200px"/></a>
        <a href="{{ path('app_login') }}"></a>
        <img src="{{ asset('Images/ArrowButton.svg') }}" alt="ArrowButtonLogo" class="ArrowButtonLogo" width="200px"/>
        <a href="{{ path('app_login') }}"><img src="{{ asset('Images/SettingButton.svg') }}" alt="SettingButtonLogo" class="SettingButtonLogo" width="200px"/></a>   
    <div/>

{% endblock %}